:root {
  --border-color: #dddddd;
  --highlight-color: rgb(28, 165, 39);
  --background-color: #fafafa;
}

html {
  font-family: Avenir, sans-serif;
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
}

.sidebar {
  float: left;
  width: 20%;
  padding: 1em;
}

.content {
  float: right;
  width: 80%;
  padding: 1em;
  border-left: 1px solid var(--border-color);
}

@media screen and (max-width: 1024px) {
  .content {
    width: 100%;
    border-left: none;
  }

  .sidebar {
    width: 100%;
  }
}

.channel-name {
  display: flex;
  padding: 0.5em 0;
}

.channel-name > span {
  flex: 1;
}

input[type="text"] {
  width: "100%";
}

button,
input[type="submit"] {
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 0.5em;
}

button:hover,
input[type="submit"]:hover {
  background-color: var(--border-color);
  cursor: pointer;
}

/* Thumbnails */

.video-thumbnail {
  margin: auto;
  padding-bottom: 6px;
  margin-bottom: 24px;
  max-width: min(640px, 100%);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.video-thumbnail:hover {
  cursor: pointer;
}

.video-thumbnail > img {
  width: 100%;
  /* 4:3 image, should be 16:9. We are modifying the image height, should it should go from 16:12 -> 12:9. The top and bottom need to remove 25%, or 12.5% from both top and bottom. */
  clip-path: inset(12.5% 0 12.5% 0);

  /* After cropping, we now need to go from */
  margin-bottom: calc(-10%);
  margin-top: -10%;
}

.video-thumbnail.seen > img {
  filter: brightness(50%) grayscale(50%);
}

.video-caption {
  margin: 12px;
}

.video-title,
.video-channel,
.video-date {
  display: block;
}

.video-title {
  font-weight: bold;
}

/* Video Player */

#video-player {
  position: absolute;
  /* display: flex;
  flex-direction: column; */
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.7);
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%;
}

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.blurred {
  filter: blur(10px);
}

#video-player > button {
  text-align: center;
  padding: 15px;
  margin: 5px 5px 0px 0px;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1em;
  border-radius: 3px;
  min-width: 20%;
}

.error-msg {
  font-style: italic;
}
